<h1>Cities in <%= @continent.name %></h1>

<table>
  <tr>
    <th>Cities</th>
    <th></th>
    <th>Country</th>
    <th></th>
    <th>Visited/To Visit</th>
  </tr>
  <% for city in @cities %>
  <tr>
    <td><a href="/cities/<%= city.id %>"><%= city.name %></a></td>
    <td>|</td>
    <td><%= city.country.name %></td>
    <td>|</td>
    <td><%= city.status %></td>
    <td>|</td>
    <!-- <td><a href="#" class="delete_city"></a></td> -->
  </tr>
  <% end %>
</table>
