<section class="home_page">

  <br><br><br>
  <section id="search_bars">
    <form class="continent" action="/continents/name" method="post">
      <label for="continent_select">Jump to Continent</label><br>
      <select name="name" id="continent_select" class="select_menu">
        <% @continents.each do |continent| %>
        <option value=<%= continent.name %>><%= continent.name.capitalize %></option>
        <% end %>
      </select>
      <input type="image" src="/images/search.png" alt="search" id="search_icon">
    </form>

    <form class="country" action="/countries/id" method="post">
      <label for="country_select">Jump to Country</label><br>
      <select name="id" id="country_select" class="select_menu">
        <% @countries.each do |country| %>
        <option value=<%= country.id %>><%= country.name.capitalize %></option>
        <% end %>
      </select>
      <input type="image" src="/images/search.png" alt="search" id="search_icon">
    </form>

    <form class="city" action="/cities/id" method="post">
      <label for="city_select">Jump to City</label><br>
      <select name="id" id="city_select" class="select_menu">
        <% @cities.each do |city| %>
        <option value=<%= city.id %>><%= city.name.capitalize %></option>
        <% end %>
      </select>
      <input type="image" src="/images/search.png" alt="search" id="search_icon">
    </form>

  </section>

</section>
